@model Online_Medical.ViewModel.ResetPasswordViewModel
@{
    Layout = null;
    ViewData["Title"] = "Reset Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet" />

    <style>
     
        body {
            font-family: 'Roboto', sans-serif;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url('/assets/img/background.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .card {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
            border-radius: 0.8rem;
            border: none;
            background-color: #ffffff;
            max-width: 450px;
            margin: auto;
        }

   
        .form-outline .form-control:focus ~ .form-label,
        .form-outline .form-control:not(:placeholder-shown):not(.active) ~ .form-label {
            transform: translateY(-1rem) scale(0.8);
            font-size: 1rem;
            color: #757575;
            font-weight: 500;
        }

        .form-outline .form-control {
            padding-top: 0.25rem;
            padding-bottom: 0.75rem;
            border-radius: 0.8rem;
            border: 0.1px solid #c6d3e0;
        }

        .btn-block {
            display: block;
            width: 100%;
            border-radius: 0.5rem;
        }

        h4, .h4 {
            font-size: 1.75rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1.5rem;
        }
    </style>

</head>
<body>

    <section class="p-0">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <h4 class="mb-4"><i class="fas fa-key"></i> SET NEW PASSWORD</h4>

                        <form asp-action="ResetPassword" method="post">

                            <div asp-validation-summary="All" class="text-danger alert alert-danger" role="alert" style="display:none;"></div>

                            <input type="hidden" asp-for="Email" />
                            <input type="hidden" asp-for="Token" />

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input asp-for="Password" class="form-control" type="password" />
                                <label class="form-label" asp-for="Password">New Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                                Reset Password
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>

        $(document).ready(function () {
            if ($(".validation-summary-errors ul li").length > 0) {
                $(".validation-summary-errors").show();
            }
        });
    </script>

</body>
</html>